.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 44px 318px 60px 288px;
  padding: 102px 244px 103px 243px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 218px;
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 108px;
    margin-left: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 6px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 96px;
    margin-right: 0;
    padding: 73px 128px;
  }
}